%estiloParrafo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

%estiloTitulo{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}